.rex-slice {
  .module-preview-wrapper {
    position: relative;
    border-radius: 4px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
  }

  .module-preview-iframe {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
    visibility: hidden;
    width: 200%;
    max-width: none;
    max-width: none;
    height: 200%;
    overflow: hidden;
    overflow-y: scroll;
  }
}
